<div class="container">
	<div class="row">
		<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form p-4">
			<h1 class="display-4 py-2 text-truncate">Add Session</h1>
			<%= render 'form' %>
		</div>
	</div>
</div>
